<template name="parameters">
    <form class="form-horizontal parameters-form" role="form">
        <div class="form-group {{validationStatus field='connectionString'}}">
            <label class="col-md-1 control-label" for="connectionString">Connection</label>
            <div class="col-md-5">
                <input type="text" name="connectionString" class="form-control connectionString" placeholder="postgres://user:password@host/db" value="{{connectionString}}"/>
            </div>
        </div>
        <div class="form-group {{validationStatus field='query'}}">
            <label class="col-md-1 control-label" for="query">Query</label>
            <div class="col-md-11">
                <textarea name="query" class="form-control query" placeholder="SELECT * FROM table">{{query}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-11 col-md-offset-1">
                <button type="submit" class="btn btn-success run">Run</button>
                <button type="button" class="btn btn-primary configure-sharing" disabled="{{disableSharing}}">Sharing&hellip;</button>
                <button type="button" class="btn btn-primary configure-chart" disabled="{{disableConfigureChart}}">Configure chart&hellip;</button>
                <div class="pull-right">
                    <button type="button" class="btn btn-warning save" disabled="{{disableSave}}">Save</button>
                    <button type="button" class="btn btn-warning save-as">Save as&hellip;</button>
                    <button type="button" class="btn btn-danger delete" disabled="{{disableDelete}}">Delete&hellip;</button>
                </div>
            </div>
        </div>
    </form>
</template>

<template name="results">
    <h2 class="sub-header">Results</h2>
    <div class="table-responsive">
        <table class="table table-striped results">
            <thead>
                <tr>
                    {{#each fields}}
                        <th>{{name}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                    <tr>
                        {{#each this}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="analysisFooter">
    {{> configureChart }}
    {{> sharing }}
</template>